* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
  }
  body {
    width: 100%;
    min-width: 1080px;
    font-family: "Poppins", sans-serif;
  }
  .section-timeline {
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, #151531 0%, #421A92 100%);
    position: relative;
  }
  .title-timeline {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    padding-top: 80px;
    margin-bottom: 20px;
    color: #39beff;
  }

  .timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }

  .timeline-content-icons {
    width: 805px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }

  .timeline-icons {
    width: 70px;
    padding: 10px;
  }
  .timeline-line {
    width: 750px;
    padding: 20px;
  }
  .timeline-content-text-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  .timeline-content-text {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 45px;
    padding-right: 45px;

  }
  .timeline-subtitle {
    background: -webkit-linear-gradient(#39BEFF, #404be3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .timeline-subtext {
    color: white;
  }

  .timeline-circle {
    position: absolute;
    bottom: 25px;
  }