* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
  }
.home-container {
    margin: auto;
    width: 50%;
}
.background-leader-data {
    width: 500px;
    height: 600px;
    background-color: darkslateblue;
    position: absolute;
    border-radius: 25px;
}
.leader-title {
    position: relative;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 250px;
    color: white;
}

.data-form-container {
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    padding: 5px;
}
.data-leader-container {
    padding: 15px;
}
.data-leader-text {
    padding: 0px 0px 0px 8px;
    width: 200px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 8px; 
}

.view-data-wrapper {
    color: white;
    float: left;
}
