.user-timeline-section {
    background: linear-gradient(180deg, #421A92 0%, #151531 100%);
    height: 700px;
    width: 100%;
    position: relative;
    padding-top: 120px;
}
  .timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .timeline-content-icons {
    width: 805px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }

  .timeline-icons {
    width: 70px;
    padding: 10px;
  }
  .timeline-line {
    width: 750px;
    padding: 20px;
  }
  .timeline-content-text-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  .timeline-content-text {
    text-align: center;
    font-size: 1.5rem;
    padding-left: 45px;
    padding-right: 45px;

  }
  .timeline-subtitle {
    background: -webkit-linear-gradient(#39BEFF, #404be3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .timeline-subtext {
    color: white;
  }